%h1= "Welcome to my site, #{@user.name}"
%h4= "Please be careful, using my website, because it may be very"
%br
%h4= "dangerous for you"
%br
%h4= "Regards Vitaliy Krushelnitskiy, The developer. Have a nice day"
